.completed {
    color: black;
    margin-right: 0.25rem;
    width: 1.6rem;
}
.undone {
    color: red;
    text-decoration: line-through red;
    margin-right: 0.25rem;
    width: 1.6rem;
}

.default {
    display: flex;
    justify-content: center;
    font-size: 0.2rem;
    font-weight: bold;
}
